.ejercicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    background-color: #425F57;
    color: #CFFF8D;
    width: 80%;
    height: 200px;
    text-align: center;
    line-height: 50px;
    margin: 0px;
}

h2{
    background-color: #749F82;
    color: #A8E890;
    width: 80%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px;

}

p{
    text-align: center;
    width: 80%;
}

#primoResultado, #primoFibonacciResultado, #result, #result2, #result7, #result9, #result91,  #result10{
    color: red;
}

.tiempos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tiempos input{
    margin: 4px;

}

.inputCal{
    margin: 4px;
}

footer{
    text-align: center;
    background-color: #749F82;
}
@media (max-width: 630px) {
    h1{
        font-size: 20px;
    }
}
